/* line 1, sass/desktop-gen.scss */
.navbar {
  text-align: center; }

/* line 4, sass/desktop-gen.scss */
.login-form {
  background-color: #4c4c4c;
  color: #fff; }
  /* line 8, sass/desktop-gen.scss */
  .login-form label {
    font-weight: normal; }
  /* line 11, sass/desktop-gen.scss */
  .login-form input {
    width: 180px;
    font-size: 13px; }

/* line 17, sass/desktop-gen.scss */
.login-message {
  color: #FF0000;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 14px; }
