<div class="navbar nav">
    <div class="navbar-inner">
        <a class="brand" href="#">OTG Trader</a>
        <!-- <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Elsewhere</a></li>
        </ul> -->
    </div>
</div>