<div id="topView" class="mblContentPane" widgetid="topView">

	<h3 class="mblHeading unselectable mobileH3 mblHeadingCenterTitle" id="dojox_mobile_Heading_0">
		<div class="mblHeadingDivTitle" role="heading" aria-level="1">OTG Trader</div>
	</h3>

	<div id="msg" class="login-message"></div>

	<div class="login-form" class="mblRoundRect" id="dojox_mobile_RoundRect_0" >
		<div class="mblFormLayout mblFormLayoutTwoCol" id="dojox_mobile_FormLayout_0">
			<div>
				<label for="email" class="labelText">Email</label>
				<fieldset>
					<input type="email" id="email" class="mblTextBox" tabindex="0" value="">
				</fieldset>
			</div>
			<div>
				<label for="password" class="labelText">Password</label>
				<fieldset>
					<input type="password" id="password" class="mblTextBox labelText" style="width: 180px; font-size: 13px; color: rgb(0, 0, 0);" tabindex="0"value="">
				</fieldset>
			</div>
		</div>
	</div>
   	<button class="mblButton lgButton unselectable" id="buyBtn" tabindex="0" style="-webkit-user-select: none;">Login</button>
</div>