.navbar {
	text-align: center;
}
.login-form {
	 background-color: rgb(76, 76, 76);
	 color: #fff;

	 label {
	 	font-weight: normal;
	 }
	 input {
	 	width: 180px;
	 	font-size: 13px;
	 }
}

.login-message {
	color: #FF0000;
	font-family: 'Lucida Grande', sans-serif;font-size: 14px;

}